.other {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
}

.wrapper .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar ul li a{
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.wrapper .sidebar ul li:hover {
    background-color: #545454;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}

.mainIcon {
    margin-bottom: 50px;
}

.upload {
    position: relative;
    height: 100vh;
    width: 500px;
    padding: 30px;
    background-color: #242424;
    left: 100px;
}

.upload_header {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid 2px #ababab;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.form_content_1 {
    display: inline-flexbox;
    border-bottom: solid 2px rgba(190, 190, 190, .8);
    padding-bottom: 30px;
}

.form_content_1 input {
    height: 30px;
    width: 47%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.agreement_accept {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #5ada5a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5ada5a;
}

input:checked + .slider:before {
    -webkit-transform: translateX(85%);
    -ms-transform: translateX(85%);
    transform: translateX(85%);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}